@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Josefin+Slab:400,700');

body {
	background-color: #1a2930;
	font-size: 16px;
	font-family: 'Josefin Slab', serif;
	color: #c5c1c0;
	min-width: 350px;
	min-height: 300px;
}

section {
	padding: 100px 0 0 0;
	margin: 0;
}

table {
	margin-top: 50px;
	padding: 20px;
	border: 1px solid;
	width: 315px;
	height: 200px;
	text-align: left;
}

th {
	font-size: 1.4em;
}

td {
	font-size: 1.2em;
}

h1 {
	font-family: 'Fredericka the Great', cursive;
	font-size: 4em;
	color: orangered;
	font-weight: lighter;
	margin: 0;
}

h2 {
	text-align: center;
	font-size: 1.9em;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	margin-top: 0;
}

h3 {
	font-size: 1.8em;
	margin-bottom: 0;
	margin-top: 6px;
}

p {
	font-size: 1.2em;
}

.flex {
	display: flex;
}

#title {
	width: 100%;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	div {
		width: 100%;
		justify-content: center;
		margin-top: 40px;
	}

	div img {
		width: 25px;
		align-self: center;
		padding: 0 10px;
	}

	p {
		font-size: 1.3em;
		padding-top: 8px;
		margin: 0;
		letter-spacing: 1px;
	}
}

#navbar {
	z-index: 3;
	position: absolute;
	bottom: 0;
	min-width: 350px;
	width: 100%;
	background-color: orangered;
	height: 85px;
	justify-content: center;
	align-items: center;

	a {
		font-size: 1.4em;
		padding: 5px 12px;;
		text-decoration: none;
		color: inherit;
	}

	a:visited {
		color: inherit;
	}
}

#about {
	
	.aboutGroup {
		flex-direction: column;
	}

	.portrait {
		width: 100%;
		line-height: 0;
	}

	.portrait img {
		width: 100%;
	}

	.content {
		background-color: orangered;
		text-align: justify;
		padding: 15px;
	}
}


#skills {
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h2 {
		margin-bottom: 10px;
	}

	p {
		width: 90%;
		margin: 0 auto 20px;
	}

	.skillsChart {
		display: grid;
		grid-template-areas: 
			"skills bar bar bar"
			"blank head head head";
		grid-template-columns: 0 1fr 1fr 1fr;
		grid-template-rows: min(400px) 1fr;
		max-width: 900px;
	}

	.skillsChartLevel {
		grid-area: head;
		justify-content: space-around;
		font-size: 1.2em;
		padding-top: 10px;
		margin-top: 8px;
	}

	.skillsChartLabel {
		grid-area: skills;
		flex-direction: column;
		grid-column-start: 2;
		z-index: 1;
		justify-content: space-around;
		font-size: 2em;
		padding-left: 8px;
	}

	.skillsChartBar {
		grid-area: bar;
		flex-direction: column;
		justify-content: space-around;
	}

}

.skillsChartBar .bar {
	margin: 2px 0;
	background: orangered;
	width: var(--w);
	--w: 0%;
	height: 85px;
	transition: width 1.2s;
	border-radius: 0 2px 2px 0;
}

.loaded .skillsChartBar .bar:nth-of-type(1) { /*DESIGN*/
	--w: 75%;
}
.loaded .skillsChartBar .bar:nth-of-type(2) { /*HTML*/
	--w: 73%;
}
.loaded .skillsChartBar .bar:nth-of-type(3) { /*CSS*/
	--w: 70%;
}
.loaded .skillsChartBar .bar:nth-of-type(4) { /*JS*/
	--w: 68%;
}
.loaded .skillsChartBar .bar:nth-of-type(5) { /*RUBY*/
	--w: 65%;
}

#gallery {
	.filter {
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
	}

	.filter a {
		display: inline-block;
		text-decoration: none;
		color: inherit;
		border: 1px solid;
		padding: 9px 0 5px;
		width: 80px;
		// background-color: #c5c1c0;
		// color: #1a2930;
	}

}

.gallery {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	padding: 0 5px;
}

.gallery div {
	width: 100%;
	line-height: 0;
}

.gallery div img {
	width: 100%;
	height: 100%;
}



#contact {

	.contactGroup {
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.contactMe,
	.contactDetails {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 80%;
		height: 240px;
		background-color: orangered;
		margin: 5px 0;
		padding: 25px;
		border-radius: 2px;
	}

	.contactDetails ul {
		list-style: none;
		padding: 0 80px 0 0;
		margin-bottom: 0;
		font-size: 1.2em;
	}

	.contactDetails li {
		display: block;
		height: 40px;
	}

	.contactDetails li a {
		text-decoration: none;
		color: inherit;
	}

	.contactDetails li a:hover {
		color: #1a2930;
	}

	.contactDetails li img {
		width: 30px;
		vertical-align: bottom;
	}

	.contactButton {
		text-decoration: none;
		color: inherit;
		border: thin solid;
		padding: 20px 40px;
	}
	
	.contactButton:hover {
		background-color: #c5c1c0;
		color: orangered;
	}
}

#footer {
	width: 100%;
	text-align: center;
}

.sticky #navbar {
  height: 85px;
  position: fixed;
  top: 0;
  bottom: initial;
}

.hide {
	display: none;
}

/*************** MEDIA QUERIES ***************/

@media (min-width: 576px) {

	table {
		width: 500px;
	}

	#gallery .gallery {
		grid-template-columns: repeat(3, 1fr);
	}

	#skills {
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	
		p {
			width: 100%;
			margin: 0 auto 20px;
		}

		.skillsChart {
			width: 80%;
		}
	
	}

}

@media (min-width: 768px) {
	#gallery {
		.gallery {
			grid-template-columns: repeat(3, 1fr);
			padding: 0 20px;
		}
	}

	h1 {
		font-size: 6em;
	}

	h2 {
		letter-spacing: 4px;
	}

	#title {
	
		div img {
			width: 40px;
			align-self: center;
			padding: 0 20px;
		}
	
		p {
			font-size: 1.7em;
			padding-top: 8px;
			margin: 0;
			letter-spacing: 6px;
		}
	}

	#about {
		
		.aboutGroup {
			flex-direction: row;
		}

		.portrait {
			width: 50%;
			background-color: orangered;
		}
	
		.content {
			width: 50%;
		}
	}

	#contact {

		.contactGroup {
			flex-direction: row;
		}
	
		.contactMe,
		.contactDetails {
			width: 40%;
			margin: 5px 5px;
		}
	
	}

	#footer {
		margin-top: 60px;
	}

}

@media (min-width: 992px) {
	#gallery .gallery {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 1200px) {

	// section {
	// 	margin: 140px 0 0 0;
	// 	padding: 0;
	// }

	#gallery .gallery {
		grid-template-columns: repeat(4, 1fr); 
		padding: 0 20px;
		width: 80%;
		margin: auto;
	}

	h1 {
		font-size: 6em;
	}

	h2 {
		letter-spacing: 4px;
	}

	#title {
	
		div img {
			width: 50px;
			align-self: center;
			padding: 0 20px;
		}
	
		p {
			font-size: 1.6em;
			padding-top: 8px;
			margin: 0;
			letter-spacing: 6px;
		}
	}

	#about {
		.aboutGroup {
			flex-direction: row;
			justify-content: center;
			margin: auto;
			width: 80%;
		}

		.content p {
			margin-right: 20px;
			margin-left: 15px;
		}
	}

	#skills {
		h2 {
			margin-bottom: 20px;
		}
	
		p {
			margin: 0 auto 40px;
		}

		.skillsChart {
			width: 80%;
			max-width: 1200px;
		}

		.skillsChartLevel {
			font-size: 1.4em;
			margin-top: 20px;
		}

		.skillsChartBar .bar {
			height: 120px;
		}
	
	}

	#contact {
		.contactGroup {
			flex-direction: row;
			width: 80%;
			margin: auto;
		}
	
		.contactMe,
		.contactDetails {
			width: 40%;
			margin: 5px 5px;
			height: 300px;
			padding: 40px;
		}
	
	}

	button {
		padding: 14px 30px 10px;
	}

	#footer {
		margin-top: 60px;
	}
}