@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great|Josefin+Slab:400,700");
body {
  background-color: #1a2930;
  font-size: 16px;
  font-family: "Josefin Slab", serif;
  color: #c5c1c0;
  min-width: 350px;
  min-height: 300px;
}

section {
  margin: 60px 0 0 0;
  padding: 0;
}

h1 {
  font-family: "Fredericka the Great", cursive;
  font-size: 4em;
  color: orangered;
  font-weight: lighter;
  margin: 0;
}

h2 {
  text-align: center;
  font-size: 1.9em;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 2px;
}

h3 {
  font-size: 1.8em;
  margin-bottom: 0;
  margin-top: 6px;
}

p {
  font-size: 1.2em;
}

button {
  border-radius: 2px;
  padding: 7px 15px 5px;
  background-color: rgba(0, 0, 0, 0);
  color: #c5c1c0;
  border-color: #c5c1c0;
}

.flex {
  display: flex;
}

#title {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#title div {
  width: 100%;
  justify-content: center;
  margin-top: 40px;
}
#title div img {
  width: 25px;
  align-self: center;
  padding: 0 10px;
}
#title p {
  font-size: 1.3em;
  padding-top: 8px;
  margin: 0;
  letter-spacing: 1px;
}

#navbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: orangered;
  height: 85px;
  justify-content: center;
  align-items: center;
}
#navbar a {
  font-size: 1.4em;
  padding: 5px 12px;
  text-decoration: none;
  color: inherit;
}
#navbar a:visited {
  color: inherit;
}

#about .aboutGroup {
  flex-direction: column;
}
#about .portrait {
  width: 100%;
  line-height: 0;
}
#about .portrait img {
  width: 100%;
}
#about .content {
  background-color: orangered;
  text-align: justify;
  padding: 15px;
}

#skills {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#skills h2 {
  margin-bottom: 10px;
}
#skills p {
  width: 90%;
  margin: 0 auto 20px;
}
#skills .skillsChart {
  display: grid;
  grid-template-areas: "skills bar bar bar" "blank head head head";
  grid-template-columns: 0 1fr 1fr 1fr;
  grid-template-rows: min(400px) 1fr;
  max-width: 900px;
}
#skills .skillsChartLevel {
  grid-area: head;
  justify-content: space-around;
  font-size: 1.2em;
  padding-top: 10px;
  margin-top: 8px;
}
#skills .skillsChartLabel {
  grid-area: skills;
  flex-direction: column;
  grid-column-start: 2;
  z-index: 1;
  justify-content: space-around;
  font-size: 2em;
  padding-left: 8px;
}
#skills .skillsChartBar {
  grid-area: bar;
  flex-direction: column;
  justify-content: space-around;
}
#skills .skillsChartBar .bar {
  margin: 2px 0;
  background: orangered;
  width: var(--w);
  --w: 0%;
  height: 85px;
  transition: width 1.2s;
  border-radius: 0 2px 2px 0;
}
#skills .skillsChartBar .bar:nth-of-type(1) {
  /*DESIGN*/
  --w: 75%;
}
#skills .skillsChartBar .bar:nth-of-type(2) {
  /*HTML*/
  --w: 73%;
}
#skills .skillsChartBar .bar:nth-of-type(3) {
  /*CSS*/
  --w: 70%;
}
#skills .skillsChartBar .bar:nth-of-type(4) {
  /*JS*/
  --w: 68%;
}
#skills .skillsChartBar .bar:nth-of-type(5) {
  /*RUBY*/
  --w: 65%;
}

#gallery .filter {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
#gallery .filter a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  border: 1px solid;
  padding: 9px 0 5px;
  width: 80px;
}
#gallery .gallery {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  padding: 0 5px;
}
#gallery .gallery div {
  width: 100%;
  line-height: 0;
}
#gallery .gallery div img {
  width: 100%;
  height: 100%;
}

#contact .contactGroup {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact .contactMe,
#contact .contactDetails {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 200px;
  background-color: orangered;
  margin: 5px 0;
  padding: 25px;
  border-radius: 2px;
}
#contact .contactDetails ul {
  padding: 0 80px 0 0;
  font-size: 1.2em;
}

#footer {
  width: 100%;
  text-align: center;
}

/*************** MEDIA QUERIES ***************/
@media (min-width: 576px) {
  #gallery .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  #skills {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #skills p {
    width: 100%;
    margin: 0 auto 20px;
  }
  #skills .skillsChart {
    width: 80%;
  }
}
@media (min-width: 768px) {
  #gallery .gallery {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 20px;
  }

  h1 {
    font-size: 6em;
  }

  h2 {
    letter-spacing: 4px;
  }

  #title div img {
    width: 40px;
    align-self: center;
    padding: 0 20px;
  }
  #title p {
    font-size: 1.7em;
    padding-top: 8px;
    margin: 0;
    letter-spacing: 6px;
  }

  #about .aboutGroup {
    flex-direction: row;
  }
  #about .portrait {
    width: 50%;
    background-color: orangered;
  }
  #about .content {
    width: 50%;
  }

  #contact .contactGroup {
    flex-direction: row;
  }
  #contact .contactMe,
#contact .contactDetails {
    width: 40%;
    margin: 5px 5px;
  }

  #footer {
    margin-top: 60px;
  }
}
@media (min-width: 992px) {
  #gallery .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1200px) {
  section {
    margin: 140px 0 0 0;
    padding: 0;
  }

  #gallery .gallery {
    grid-template-columns: repeat(4, 1fr);
    padding: 0 20px;
    width: 80%;
    margin: auto;
  }

  h1 {
    font-size: 6em;
  }

  h2 {
    letter-spacing: 4px;
  }

  #title div img {
    width: 50px;
    align-self: center;
    padding: 0 20px;
  }
  #title p {
    font-size: 1.6em;
    padding-top: 8px;
    margin: 0;
    letter-spacing: 6px;
  }

  #about .aboutGroup {
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: 80%;
  }
  #about .content {
    font-size: 0.8em;
  }
  #about .content p {
    margin-right: 20px;
    margin-left: 15px;
  }

  #skills h2 {
    margin-bottom: 20px;
  }
  #skills p {
    margin: 0 auto 40px;
  }
  #skills .skillsChart {
    width: 80%;
    max-width: 1200px;
  }
  #skills .skillsChartLevel {
    font-size: 1.4em;
    margin-top: 20px;
  }
  #skills .skillsChartBar .bar {
    height: 120px;
  }

  #contact .contactGroup {
    flex-direction: row;
    width: 80%;
    margin: auto;
  }
  #contact .contactMe,
#contact .contactDetails {
    width: 40%;
    margin: 5px 5px;
    height: 380px;
    padding: 40px;
  }

  button {
    padding: 14px 30px 10px;
  }

  #footer {
    margin-top: 60px;
  }
}

/*# sourceMappingURL=style.css.map */
