@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Josefin+Slab:400,700');

body {
	background-color: #1a2930;
	font-size: 16px;
	font-family: 'Josefin Slab', serif;
	color: #c5c1c0;
}

section {
	margin: 60px 0 0 0;
	padding: 0;
}

h1 {
	font-family: 'Fredericka the Great', cursive;
	font-size: 4em;
	color: orangered;
	font-weight: lighter;
	margin: 20px 0 0 0;
}

h2 {
	text-align: center;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: lighter;
}

h3 {
	font-size: 1.8em;
	margin-bottom: 0;
	margin-top: 6px;
}

p {
	font-size: 1.2em;
}

button {
	border-radius: 2px;
	padding: 7px 15px 5px;
	background-color: rgba(0, 0, 0, 0);
	color: #c5c1c0;
	border-color: #c5c1c0;
}

.flex {
	display: flex;
}

#title {
	width: 100%;
	height: calc(100vh - 80px);
	flex-direction: column;
	justify-content: center;
	align-items: center;

	div {
		width: 100%;
		justify-content: center;
		margin-top: 40px;
	}

	div img {
		width: 25px;
		align-self: center;
		padding: 0 10px;
	}

	p {
		font-size: 1.3em;
		padding-top: 8px;
		margin: 0;
	}
}

#navbar {
	background-color: orangered;
	height: 80px;
	justify-content: center;
	align-items: center;

	a {
		font-size: 1.4em;
		padding: 5px 12px;;
		text-decoration: none;
		color: inherit;
	}

	a:visited {
		color: inherit;
	}
}

#about {
	
	.group {
		flex-direction: column;
	}

	.portrait {
		width: 100%;
		line-height: 0;
	}

	.portrait img {
		width: 100%;
	}

	.content {
		background-color: orangered;
		text-align: justify;
		padding: 15px;
	}
}


#skills {
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	p {
		width: 90%;
		margin: 0 auto 20px;
	}

	.skillsChart {
		display: grid;
		grid-template-areas: 
			"skills bar bar bar"
			"blank head head head";
		grid-template-columns: 0 1fr 1fr 1fr;
		grid-template-rows: min(400px) 1fr;
		max-width: 900px;
	}

	.skillsChartLevel {
		grid-area: head;
		justify-content: space-around;
		font-size: 1.2em;
		padding-top: 10px;
		margin-top: 8px;
	}

	.skillsChartLabel {
		grid-area: skills;
		flex-direction: column;
		grid-column-start: 2;
		z-index: 1;
		justify-content: space-around;
		font-size: 2em;
		padding-left: 8px;
	}

	.skillsChartBar {
		grid-area: bar;
		flex-direction: column;
		justify-content: space-around;
	}

	.skillsChartBar .bar {
		margin: 2px 0;
		background: orangered;
		width: var(--w);
		--w: 0%;
		height: 85px;
		transition: width 1.2s;
		border-radius: 0 2px 2px 0;
	}

	.skillsChartBar .bar:nth-of-type(1) { /*DESIGN*/
		--w: 75%;
	}
	.skillsChartBar .bar:nth-of-type(2) { /*HTML*/
		--w: 73%;
	}
	.skillsChartBar .bar:nth-of-type(3) { /*CSS*/
		--w: 70%;
	}
	.skillsChartBar .bar:nth-of-type(4) { /*JS*/
		--w: 68%;
	}
	.skillsChartBar .bar:nth-of-type(5) { /*RUBY*/
		--w: 65%;
	}
}

#gallery {

	.gallery {
		display: grid;
		grid-gap: 5px;
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
		padding: 0 5px;
	}
	
	.gallery div {
		width: 100%;

	}
	
  .gallery div img {
    width: 100%;
		height: 100%;
  }

}

#contact {
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.contactMe,
	.contactDetails {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 80%;
		height: 200px;
		background-color: orangered;
		margin: 5px 0;
		padding: 25px;
		border-radius: 2px;
	}

	.contactDetails ul {
		padding: 0 80px 0 0;
		font-size: 1.2em;
	}
}

#footer {
	width: 100%;
	text-align: center;
}


/*************** MEDIA QUERIES ***************/

@media (min-width: 576px) {
	#gallery .gallery {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 768px) {
	#gallery .gallery {
		grid-template-columns: repeat(3, 1fr); 
	}

	#about {
		
		.group {
			flex-direction: row;
		}

		.portrait {
			width: 50%;
			background-color: orangered;
		}
	
		.portrait img {
			width: 100%;
		}
	
		.content {
			background-color: orangered;
			text-align: justify;
			padding: 15px;
			width: 50%;
		}
	}

}

@media (min-width: 992px) {
	#gallery .gallery {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 1200px) {
	#gallery .gallery {
		grid-template-columns: repeat(5, 1fr); 
	}
}